<mat-toolbar>
    <button mat-mini-fab color="warn" [matMenuTriggerFor]="navMenu">
        <mat-icon>dashboard</mat-icon>
    </button>
    <span class="example-icon"></span>
        <mat-icon>{{iconTitle}}</mat-icon>
    <span class="example-icon"></span>
        {{pageTitle}}
    <span class="example-spacer"></span>
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="helpMenu">
        <mat-icon >help_outline</mat-icon>
    </button>
    <span class="example-icon"></span>
        <mat-icon>settings</mat-icon>
    <!-- <span class="example-spacer"></span> -->
    <mat-menu #helpMenu="matMenu" >
        <div *ngIf="helpTitle=='settingshelp'">
            This help page for Settings.
        </div>
        <div *ngIf="helpTitle=='aboutushelp'">
            This help page for About us.
        </div>
        {{helpTitle}}
    </mat-menu>
    <mat-menu #navMenu="matMenu" >
        Navigation links
    </mat-menu>
       

</mat-toolbar>